# PORT=8081									# Default port to run on
# NC_DB=									# See our database URLs. A local SQLite will be created in root folder
# DATABASE_URL=								# JDBC URL format. Can be used instead of NC_DB. Used in 1-click Heroku deployment
# DATABASE_URL_FILE=						# Path to file containing JDBC URL format. Can be used instead of NC_DB. Used in 1-click Heroku deployment
# NC_PUBLIC_URL=							# Used for sending email invitations. Best guess from http request params
# NC_AUTH_JWT_SECRET=						# JWT secret used for auth and storing other secrets. A random secret will be generated
# NC_SENTRY_DSN=							# For Sentry monitoring
# NC_CONNECT_TO_EXTERNAL_DB_DISABLED=		# Disable project creation with external database
# NC_DISABLE_TELE=							# Disable telemetry
# NC_BACKEND_URL=							# Custom backend URL
