#PORT=8081      # default port to run on
#NC_DB=	    #See our database URLs	A local SQLite will be created in root folder
#DATABASE_URL=	    #JDBC URL Format. Can be used instead of NC_DB. Used in 1-Click Heroku deployment
#DATABASE_URL_FILE=	    #path to file containing JDBC URL Format. Can be used instead of NC_DB. Used in 1-Click Heroku deployment
#NC_PUBLIC_URL= 	#Used for sending Email invitations	Best guess from http request params
#NC_AUTH_JWT_SECRET=	    #JWT secret used for auth and storing other secrets	A Random secret will be generated
#NC_SENTRY_DSN=	    #For Sentry monitoring
#NC_CONNECT_TO_EXTERNAL_DB_DISABLED=	#Disable Project creation with external database
#NC_DISABLE_TELE=	    #Disable telemetry
#NC_BACKEND_URL=	    #Custom Backend URL
